.button-component {
  background-color: brown;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: white;
  padding: 10px;
}

.button-component:hover {
  background-color: #852a2a;
  cursor: pointer;
}
