.registration {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 10px;
}

.registration input {
    font-size: larger;
    border-radius: 10px;
    border-color: brown;
    border-style: solid;
    margin-bottom: 10px;
}

.registration div div {
    margin-bottom: 5px;
}